.container {
  justify-content: center;
  align-items: center;
  width: 82%;
}

.container_main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.title {
  font-size: 36px;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
}

.container_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  gap: 30px;
}

/* FORM */

.container_details {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.container_header_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efffd0;
  width: 100%;
  padding: 0;
  border-radius: 10px 10px 0px 0px;
  height: 50px;
  position: relative;
}

.archived,
.not_archived {
  height: 10px;
  width: 10px;
  margin: 0 10px;
  border-radius: 50%;
  position: relative; 
  cursor: pointer;
}

.archived::after,
.not_archived::after {
  content: attr(data-tooltip); 
  position: absolute;
  bottom: 120%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap; 
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.archived:hover::after,
.not_archived:hover::after {
  opacity: 1;
}

.archived {
  background-color: red;
}

.not_archived {
  background-color: green;
}

.title_note {
  color: #2f2836;
  font-size: 18px;
  background-color: transparent;
  border-color: transparent;
  width: 100%;
  padding: 0 5px;
}

.title_note:focus {
  outline: none; 
  border: none; 
  box-shadow: none;
}

/* BODY FORM */
.container_body_details {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  background-color: #dceac2;
  padding: 5px;
  z-index: 20;
  border-radius: 0px 0px 10px 10px;
}
.container_categories {
  display: flex;
  gap: 10px;
  height: 50px;
  align-items: center;
  overflow-x: auto; 
  padding-bottom: 5px; 
  position: relative;
}

.container_categories::-webkit-scrollbar {
  height: 3px; 
}

.container_categories::-webkit-scrollbar-thumb {
  background-color: rgb(124, 123, 123); 
  border-radius: 3px;
}

.container_categories::-webkit-scrollbar-thumb:hover {
  background-color: rgb(124, 123, 123); 
}

.container_categories::-webkit-scrollbar-track {
  background-color: #f0f0f0; 
  border-radius: 3px;
}

.container_category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
}

.input_category,
.btn_add_category {
  background-color: transparent;
  border-color: transparent;
  color: #2f2836;
  font-size: 12px;
}

.input_category:focus {
  outline: none;
}

.btn_add_category {
  cursor: pointer;
}

.category_details {
  background-color: rgb(124, 123, 123);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px;
  border-radius: 5px;
  text-align: center;
  gap: 6px;
}

.category_name {
  font-size: 10px;
  color: aliceblue;
}

.btn_delete_note {
  background-color: #fff;
  color: #2f2836;
  font-weight: bold;
  border-color: transparent;
  cursor: pointer;
  padding: 0 2px;
  font-size: 10px;
  border-radius: 4px;
}

.btn_delete_note:hover {
  background-color: rgb(178, 95, 95);
  color: #fff;
}

.container_content {
  width: 100%;
  height: 150px;
  position: relative;
}

.input_content {
  width: 100%;
  height: 80%;
  background-color: transparent;
  color: #2f2836;
  border-color: transparent;
  resize: none;
  overflow-y: auto;
}

.input_content:focus {
  outline: none;
}

.input_content::-webkit-scrollbar { 
  width: 10px;
}

.input_content::-webkit-scrollbar-thumb {
  background-color: rgb(124, 123, 123); 
  border-radius: 3px;
}

.input_content::-webkit-scrollbar-thumb:hover {
  background-color: rgb(124, 123, 123); 
}

.input_content::-webkit-scrollbar-track {
  background-color: #f0f0f0; 
  border-radius: 3px;
}

.date {
  position: absolute;
  color: #2f2836;
  font-size: 10px;
  font-weight: bold;
  right: 5px;
  bottom: 0px;
}

.container_btn_submits {
  position: absolute;
  bottom: -34px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1px;
  gap: 10px;
}

.btn_submit_cancel,
.btn_submit_done {
  cursor: pointer;
  border-radius: 6px;
  padding: 3px 10px;
  border-color: transparent;
  z-index: 10000;
}

.btn_submit_done {
  background-color: rgb(3, 39, 93);
}

.btn_submit_done:hover {
  background-color: rgb(15, 55, 113);
}

.btn_submit_cancel {
  background-color: rgb(36, 165, 40);
}

.btn_submit_cancel:hover {
  background-color: rgb(70, 203, 75);
}

.btn_submit {
  position: absolute;
  background-color: rgb(3, 39, 93);
  border-color: transparent;
  cursor: pointer;
  border-radius: 6px;
  padding: 3px 10px;
  font-size: 16px;
  bottom: -34px;
  right: 1px;
  z-index: 10000;
}

.btn_submit:hover {
  background-color: rgb(34, 63, 120);
}

.btn_submit:disabled {
  background-color: rgb(123, 119, 119);
  cursor: auto;
}

.error_label {
  z-index: 1000;
  position: absolute;
  left: 8px;
  bottom: -10px;
  color: #ff0000;
  font-size: 10px;
}