.container_navigator {
  background-color: rgb(3, 39, 93);
  height: 100vh;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 5px;
  position: relative;
}

.container_btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  padding-top: 50px;
  align-items: center;
}

.btn_to_nav {
  width: 160px;
  padding: 10px 5px;
  border-color: transparent;
  border-radius: 6px;
  background-color: rgb(212, 228, 238);
  color: #2f2836;
  font-weight: bold;
  cursor: pointer;
}

.btn_to_nav:hover {
  background-color: rgb(255, 255, 255);
}

.btn_logout {
  position: absolute;
  bottom: 100px;
  width: 160px;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px 5px;
  border-color: transparent;
  border-radius: 6px;
  background-color: rgb(37, 91, 170);
  color: #eaebeb;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.btn_logout:hover {
  background-color: rgb(91, 135, 201);
}